.App {
  text-align: center;
  margin: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button{
  width: 3rem;
  height: 3rem;
  margin: 0.2rem;
}

input{
  width: 13rem;
  height: 2rem;
  margin: 0.2rem;
}

button .clear{
  width: 13rem;
  height: 2rem;
  margin: 0.2rem;
}